.container{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;


}
.filter{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    border-bottom: solid 1px var(--figma-color-border);
    align-items: center;
    /* background-color: var(--figma-color-bg) */
}
.filter-tags{
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;
}
.filter-item{
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}
.filter-item:hover{
    cursor: pointer;
    background-color: var(--figma-color-bg-hover);
}
.filter-item-active{

    background-color: var(--figma-color-bg-inverse);
    color: var(--figma-color-text-oninverse)
}
.filter-item-active:hover{
    color: var(--figma-color-text);
    background-color: var(--figma-color-bg-hover);
}
.results{
    height: 90%;
    padding: 0.5rem 0.5rem 4rem 0.5rem ;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* background-color: aqua; */
    overflow-y: scroll;

}

.success-wrapper{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

}

.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: var(--figma-color-bg-success-tertiary);
    gap: 1.5rem;
    padding:1rem;
    text-align: center;
 
}
.result-item{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border: 1px solid var(--figma-color-border);
    border-radius: 0.125rem;
}
.result-item:hover{
    background-color:var(--figma-color-bg-hover);
}
.result-name{
    cursor: pointer;
}
.result-message{
    color: var(--figma-color-text-disabled);
    cursor: pointer;
}
.result-right{
    width: 100%;

}


.run-again-button{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    background-color: var( --figma-color-bg-brand);
    padding: 0.125rem;
    border-radius: 100%;
    color: #fff
}
.run-again-button:hover{
    background-color: var( --figma-color-bg-brand-hover);
    cursor: pointer;
}
/* .title-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem
} */

/* HOME */
.home{
    width: 100%;
    height: 100%;
    padding: 1.5rem;

}
.home-wrapper{
    background-color: #DBEEFF;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: #00499D

}
.home-title{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 125%;
}

.home-description{
    font-size: 0.75rem;
}

.home-buttons{
    display: flex;
    gap: 0.5rem;
}
.icon-button{
    padding: 0.1rem;
    border-radius: 100%;
}
.icon-button:hover{
    cursor: pointer;
    background-color: var(--figma-color-bg-brand);
    color: #fff;
}
.setting-modal{
    width: 280px;
    padding: 1rem;
}